{%extends 'base.html'%}

{%block title%}
| {{agent.name}}
{%endblock%}
{%block content%}
<section class="intro-single">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-8">
              <div class="title-single-box">
                <h1 class="title-single">{{agent.name}}</h1>
                <span class="color-text-a">Agent</span>
              </div>
            </div>
            <div class="col-md-12 col-lg-4">
              <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{% url 'index'%}">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="#">Agents</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                      {{agent.name}}
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </section>
      <!--/ Intro Single End /-->
    
      <!--/ Agent Single Star /-->
      <section class="agent-single">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="agent-avatar-box">
                    <img src="{{agent.photo.url}}" alt="" class="agent-avatar img-fluid">
                  </div>
                </div>
                <div class="col-md-5 section-md-t3">
                  <div class="agent-info-box">
                    <div class="agent-title">
                      <div class="title-box-d">
                        <h3 class="title-d">{{agent.name}}
                          </h3>
                      </div>
                    </div>
                    <div class="agent-content mb-3">
                      <p class="content-d color-text-a">
                          {{agent.description}}
                      </p>
                      <div class="info-agents color-a">
                        <p>
                          <strong>Phone: </strong>
                          <span class="color-text-a"> {{agent.phone}} </span>
                        </p>
                        <p>
                          <strong>Mobile: </strong>
                          <span class="color-text-a"> {{agent.mobile}}</span>
                        </p>
                        <p>
                          <strong>Email: </strong>
                          <span class="color-text-a"> {{agent.email}}</span>
                        </p>
                        <p>
                          <strong>skype: </strong>
                          <span class="color-text-a"> {{agent.skype}} </span>
                        </p>
                        
                      </div>
                    </div>
                    <div class="socials-footer">
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#" class="link-one">
                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 section-t8">
              <div class="title-box-d">
                <h3 class="title-d">My Properties ({{total_listings}})</h3>
              </div>
            </div>
            <div class="row property-grid grid">
              <div class="col-sm-12">
                <div class="grid-option">
                    <form action="{%url 'agents'%}{{agent.id}}" method="POST">
                        {%csrf_token%}
                        <select class="custom-select" name="view" onchange="this.form.submit()">
                          {%if hold%}
      
                          <option
                          {%if hold == "0"%} 
                          selected
                          {%endif%}
                           value="0" >All</option>
                          <option value="1"
                          {%if hold == "1"%} 
                          selected
                          {%endif%}
                          >New to Old</option>
                          <option value="2"
                          {%if hold == "2"%} 
                          selected
                          {%endif%}
                          >For Rent</option>
                          <option value="3"
                          {%if hold == "3"%} 
                          selected
                          {%endif%}
                          >For Sale</option>
                          {%else%}
                          {%endif%}
                        </select>
                        
                      </form>
                </div>
              </div>

             {%if listings%}
                {%for listing in listings%}

                 <div class="col-md-4">
                    <div class="card-box-a card-shadow">
                      <div class="img-box-a">
                        <img src="{{listing.photo_main.url}}" alt="" class="img-a img-fluid">
                      </div>
                      <div class="card-overlay">
                        <div class="card-overlay-a-content">
                          <div class="card-header-a">
                            <h2 class="card-title-a">
                              <a href="{%url 'listings'%}{{listing.id}}">{{listing.title}}</a>
                            </h2>
                          </div>
                          <div class="card-body-a">
                            <div class="price-box d-flex">
                              <span class="price-a">{{listing.sale_type}} | $ {{listing.price}}</span>
                            </div>
                            <a href="{%url 'listings'%}{{listing.id}}" class="link-a">Click here to view
                              <span class="ion-ios-arrow-forward"></span>
                            </a>
                          </div>
                          <div class="card-footer-a">
                            <ul class="card-info d-flex justify-content-around">
                              <li>
                                <h4 class="card-info-title">Area</h4>
                                <span>{{listing.area}}m
                                  <sup>2</sup>
                                </span>
                              </li>
                              <li>
                                <h4 class="card-info-title">Beds</h4>
                                <span>{{listing.bedrooms}}</span>
                              </li>
                              <li>
                                <h4 class="card-info-title">Baths</h4>
                                <span>{{listing.bathrooms}}</span>
                              </li>
                              <li>
                                <h4 class="card-info-title">Garages</h4>
                                <span>{{listing.garage}}</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                {%endfor%}
             {%else%}
               <h4>NO such properties</h4>

             {%endif%}
              
              
            </div>
          </div>
        </div>
      </section>
{%endblock%}